# Compressed R data files
*.RData
*.Rdata
*.rdata
*.RDS
*.rds

# Anndata objects and files
*.hdf5
*.h5

# General files 
*.pdf
*.csv
*.xlsx
*.png
*.txt

# Database files
*.sql
.*db

# Temporary or history files
tmp_dir*
tmp_run*
*_cache
.DS_Store
*/.DS_Store
.Rhistory
*/__pycache__/
__pycache__/
.idea/
*/.idea/
/.idea/

# Files for genotypes / genomic annotations
*.bam
*.bai
*.bed
*.bim
*.fam
*.ped
*.map
*.vcf
*.vcf.bgz
*.bgz.tbi
*.fasta
*.fa

# Archive files (usually huge)
*.tar.gz

# All input and output directories
adata_storage/
data/
output/
input/
r_scripts/data
r_scripts/environment
r_scripts/results